.App {
  text-align: center;
}

h1 {
  background-color: #127475;
  margin: 0px;
  padding: 1.5rem;
  color: #F7F7F7;
}

.link {
  background-color: #127475;
  width: 100%;
}

.pad {
  padding-bottom: .6rem;
}